/* *{
    box-sizing: border-box;
}
body{
    margin: 0;
} */


*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.rants-task-bar {
    align-items: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #000000;
    display: flex;
    gap: 30px;
    position: flex;
    height: 100px;
    width: 7000px !important;
    bottom: 0px !important; 
    top: 0px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.rants-task-bar .image{
    height: 103px;
    object-fit: cover;
    position: relative;
    width: 103px;
    
    
}

.rants-task-bar ul{
    color: inherit;
    font-family: "Kadwa", Helvetica;
    font-size: 32px;
    justify-content: center;
    display: flex;
    &:hover{
        color: rgb(135, 135, 135);
    }
}

.rants-task-bar .lib-title{
    color: #000000;
    &:hover{
        color: rgb(135, 135, 135);
    }
}

.rants-task-bar .search-title{
    color: #000000;
    &:hover{
        color: rgb(135, 135, 135);
    }
}

.rants-task-bar .rant-title{
    color: #000000;
    &:hover{
        color: rgb(135, 135, 135);
    }
}

.rants-task-bar-home a{
    color: inherit;
    font-family: "Kadwa", Helvetica;
    font-size: 32px;
    justify-content: center;
    display: flex;
    &:hover{
        color: rgb(135, 135, 135);
    }
}


.rants-task-bar .site-name{
    font-size: 32px;
    font-family: "Kadwa", Helvetica;
    color: #000000;
    &:hover{
        color: rgb(135, 135, 135);
    }
}



.library {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


.library .overlap {
    height: 332px;
    left: 148px;
    position: absolute;
    top: 277px;
    width: 1082px;
  }

.library .div-2 {
    background-color: #ffffff;
    height: 1951px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}

.library .filter-pos{
    left: 1194px !important;
    position: absolute !important;
    top: 156px !important;
}



.library .div-2 .overlap .book-current{
    left: 797px !important;
    position: absolute !important;
    top: 13px !important;
}

.library .div-2 .overlap .cur-add-tag-instance{
    left: 2px !important;
    position: absolute !important;
    top: 339px !important;
}


.library .currently-reading-instance {
    left: 97px !important;
    position: absolute !important;
    top: 3px !important;
    bottom: 20px;
    
}

.library .searchbar-pos{
    right: 1190px !important;
    position: absolute !important;
    top: 156px !important;
}


.library .overlap-2 {
    height: 332px;
    left: 148px;
    position: absolute;
    top: 846px;
    width: 1082px;
}
  
.library .completed-tag-instance {
    left: 932px !important;
    position: absolute !important;
    top: 12px !important;
}

.library .div-2 .overlap-2 .book-complete{
    left: 925px !important;
    position: absolute !important;
    top: 13px !important;
}

.library .overlap-3 {
    height: 332px;
    left: 148px;
    position: absolute;
    top: 1415px;
    width: 1082px;
}
  
.library .want-to-read-tag-instance {
    left: 897px !important;
    position: absolute !important;
    top: 42px !important;
}

.library .div-2 .overlap-3 .book-want{
    left: 890px !important;
    position: absolute !important;
    top: 13px !important;
}



.library .add-tag-instance {
    left: 219px !important;
    position: absolute !important;
    top: 1206px !important;
  }
  
.library .add-tag-2 {
    border-color: unset !important;
}


/* .rants-task-bar-home {
    align-items: center;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #000000;
    display: flex;
    gap: 30px;
    position: flex;
    height: 100px;
    width: 7000px !important;
    bottom: 0px !important; 
    top: 0px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.rants-task-bar-home .image{
    height: 103px;
    object-fit: cover;
    position: relative;
    width: 103px;
    
    
}

.rants-task-bar-home a{
    color: inherit;
    font-family: "Kadwa", Helvetica;
    font-size: 32px;
    justify-content: center;
    display: flex;
    &:hover{
        color: rgb(135, 135, 135);
    }
}

.rants-task-bar-home .title{
    color: inherit;
    font-family: "Kadwa", Helvetica;
    font-size: 32px;
    justify-content: center;
    display: flex;
    &:hover{
        color: rgb(135, 135, 135);
    }   
}

.rants-task-bar-home .site-name{
    font-size: 32px;
} */

/* .rants-task-bar-home .lib-title{
    text-decoration: underline;
    
}
*/

/* 
.library {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


 .library .overlap {
    height: 332px;
    left: 148px;
    position: absolute;
    top: 277px;
    width: 1082px;
  }

.library .div-2 {
    background-color: #ffffff;
    height: 1951px;
    overflow: hidden;
    position: relative;
    width: 1440px;
}



.library .filter-pos{
    left: 1194px !important;
    position: absolute !important;
    top: 156px !important;
}



.library .div-2 .overlap .book-current{
    left: 797px !important;
    position: absolute !important;
    top: 13px !important;
}

.library .div-2 .overlap .cur-add-tag-instance{
    left: 2px !important;
    position: absolute !important;
    top: 339px !important;
}


.library .currently-reading-instance {
    left: 97px !important;
    position: absolute !important;
    top: 3px !important;
    bottom: 20px;
    
}

.library .searchbar-pos{
    right: 1190px !important;
    position: absolute !important;
    top: 156px !important;
}


.library .overlap-2 {
    height: 332px;
    left: 148px;
    position: absolute;
    top: 846px;
    width: 1082px;
}
  
.library .completed-tag-instance {
    left: 932px !important;
    position: absolute !important;
    top: 12px !important;
}

.library .div-2 .overlap-2 .book-complete{
    left: 925px !important;
    position: absolute !important;
    top: 13px !important;
}

.library .overlap-3 {
    height: 332px;
    left: 148px;
    position: absolute;
    top: 1415px;
    width: 1082px;
}
  
.library .want-to-read-tag-instance {
    left: 897px !important;
    position: absolute !important;
    top: 42px !important;
}

.library .div-2 .overlap-3 .book-want{
    left: 890px !important;
    position: absolute !important;
    top: 13px !important;
}



.library .add-tag-instance {
    left: 219px !important;
    position: absolute !important;
    top: 1206px !important;
  }
  
.library .add-tag-2 {
    border-color: unset !important;
}  */

