.currently-reading {
    background-color: #ceffff;
    border: 1px solid;
    border-color: #1d6464;
    border-radius: 30px;
    height: 47px;
    position: relative;
    width: 285px;
    padding-bottom: 20px;
  }
  
  .currently-reading .div {
    color: #000000;
    font-family: "Kadwa", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 31px;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
    width: 220px;
    
  }
  